.HelpModal {
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    top: 20%;
    background-color: #ffffff;
}

@media only screen and (max-width: 650px) {
    .HelpModal {
        width: unset;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
    }
}