.CardChip-container {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: 'center';
    position: relative;
    /* background-color: #3a3a3c; */
    container-type: inline-size;
    container-name: CardChip;
    /* contain */
}

.CardChip-Chip {
    overflow: hidden;
    overflow-wrap: anywhere;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #3a3a3c;
    /* border: 0.5rem solid #3a3a3c; */
    border-radius: 0.25rem;
    transition: all 0.2s linear;
    margin: 0.5rem;
}

.CardChip-position {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@container CardChip (max-width: 132px) {
    .DrinkRule-text {
        display: none
    }

    .CardChip-Chip {
        margin: 0.33rem;
    }
}