.CardChip-Chip {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    border: 0.25rem solid #3a3a3c;
    overflow: hidden;
    overflow-wrap: break-all;
    display: flex;
    align-items: center;
    justify-content: 'center';
    position: relative;
}

@media only screen and (max-width: 650px) {
    .CardChip-Chip {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 0.1rem;
        border: 0.1rem solid #3a3a3c;
        overflow: hidden;
        overflow-wrap: break-all;
        display: flex;
        align-items: center;
        justify-content: 'center';
        position: relative;
        font-size: x-small;
    }
}